.projects{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    overflow: hidden;

    &-total{
        position: relative;

        &.active{
            width: 60%;
            display: flex;
            justify-content: center
        }
    }

    &-body{
        max-width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 80px 10px 80px 10px;
        background-color: #222222;
        overflow: hidden;
        transform: translateX(0px);
        transition: transform 0.5s ease-out;

        &.active{
            transform: translateX(-100px);
        }
    }

    &-title{
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    &-image{
        width: 100%;
        height: 200px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-name{
        color: white;
        margin-left: 10px;
        font-family: 'Poppins', sans-serif;
    }

    &-btn{
        margin: 10px 10px 0;
        display: flex;
        gap: 20px;

        &-git{
            padding: 8px 20px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
        }

        &-learn{
            position: relative;
            overflow: hidden;
            border: none;
            border-radius: 20px;
            background: transparent;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding-right: 15px;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: white;
                transition: left 0.65s ease;
                z-index: 0;
            }

            &:hover::before {
                left: 0;
            }

            &-img{
                background-color: rgb(251, 251, 251);
                width: 15px;
                height: 15px;
                border-radius: 50%;
                padding: 12px;
            }

            &-img,span {
                position: relative;
                z-index: 1;
            }
        }

        &-active{
            position: relative;
            overflow: hidden;
            border: none;
            border-radius: 20px;
            background: transparent;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding-right: 15px;
            background-color: rgb(255, 255, 255);

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: white;
                z-index: 0;
            }

            &:hover::before {
                left: 0;
            }

            &-img{
                background-color: rgb(251, 251, 251);
                width: 15px;
                height: 15px;
                border-radius: 50%;
                padding: 12px;
            }

            &-img,span {
                position: relative;
                z-index: 1;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .projects-total {
        width: 100% !important;
    }

    .projects-body {
        height: auto;
        border-radius: 20px;
        transform: none !important;
        transition: none !important;
    }

    .projects-image {
        height: 150px;
    }

    .projects-btn {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;

        &-git {
            width: 100%;
        }
        &-learn,
        &-active {
            width: 100%;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .projects-body {
        height: auto;
        border-radius: 40px 10px 40px 10px;
    }

    .projects-image {
        height: 180px;
    }

    .projects-btn {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .projects-btn-learn,
    .projects-btn-active {
        &::before {
        display: none !important;
        }

        &:hover::before {
        left: auto !important;
        }

        background-color: white !important;
        color: black !important;
        justify-content: center;
        width: 100%;
    }
}